<doctype html>
<head>
SignMe App
</head>
<body>
<h1>
SignMe App
</h1>

<div>
Powerful tool for a powerful student.

Are you feeling lazy today? Need to study but you can't during class? Or you just don't want to see prof. Whatsherface? SignMe App is there for you (pun intended).

Using SignMe App is quick and easy. You are minutes away from saving hours per day. All you need to do is register your mail in the app and then sign up for classes you want to skip (for whatever reasons).

SignMe App has two basic functions: - requesting signatures,
- signing people who requested a signature.
Both of them with the same purpose: One hundred percent attendance.

Of course, there are a couple of catches. First, no one can have control over what the professor will do. And, second, you can't just go to the internets and keep asking for signatures. You have to give something back to society. Ying-yang.

That is why SignMe App has adopted an in-app currency appropriately named "Beer". You will start off with a couple of beers to spend. Every signature costs a beer, and signing your fellow student earns you a beer. Simple as that.
</div></body>
